--
-- PostgreSQL database dump
--

\restrict 23a8rMtkaWZRmvjMFpSSpaPBSgUkDY96vZMjfogpJxTvlN3NI9wU2aoDO8Gjihx

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    type character varying(255) NOT NULL,
    provider character varying(255) NOT NULL,
    provider_account_id character varying(255) NOT NULL,
    refresh_token text,
    access_token text,
    expires_at bigint,
    token_type character varying(255),
    scope text,
    id_token text,
    session_state text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: cities_metadata; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cities_metadata (
    id bigint NOT NULL,
    code character varying(20),
    name character varying(255) NOT NULL,
    country_code character varying(10),
    lat numeric(10,7),
    lng numeric(10,7),
    country_name character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: cities_metadata_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cities_metadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cities_metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cities_metadata_id_seq OWNED BY public.cities_metadata.id;


--
-- Name: countries_metadata; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.countries_metadata (
    id bigint NOT NULL,
    code_name character varying(10) NOT NULL,
    full_name character varying(255) NOT NULL,
    main_lat numeric(10,7),
    main_lng numeric(10,7),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: countries_metadata_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.countries_metadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: countries_metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.countries_metadata_id_seq OWNED BY public.countries_metadata.id;


--
-- Name: file_assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.file_assets (
    id bigint NOT NULL,
    url character varying(500) NOT NULL,
    mime_type character varying(80),
    size_bytes integer,
    uploader_id bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: file_assets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.file_assets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: file_assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.file_assets_id_seq OWNED BY public.file_assets.id;


--
-- Name: functions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.functions (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: functions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.functions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: functions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.functions_id_seq OWNED BY public.functions.id;


--
-- Name: geopoints; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.geopoints (
    id bigint NOT NULL,
    lat numeric(10,7) NOT NULL,
    lng numeric(10,7) NOT NULL,
    city character varying(120),
    country character varying(120)
);


--
-- Name: geopoints_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.geopoints_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: geopoints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.geopoints_id_seq OWNED BY public.geopoints.id;


--
-- Name: live_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.live_sessions (
    id bigint NOT NULL,
    user_id bigint,
    stream_key character varying(120),
    started_at timestamp without time zone,
    ended_at timestamp without time zone
);


--
-- Name: live_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.live_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: live_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.live_sessions_id_seq OWNED BY public.live_sessions.id;


--
-- Name: problems; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.problems (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: problems_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.problems_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: problems_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.problems_id_seq OWNED BY public.problems.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profiles (
    user_id bigint NOT NULL,
    first_name character varying(255),
    last_name character varying(48),
    title character varying(120),
    function character varying(120),
    geo_id bigint,
    avatar_id bigint,
    pen_name character varying(120)
);


--
-- Name: provider_functions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.provider_functions (
    provider_id bigint NOT NULL,
    function_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: provider_problems; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.provider_problems (
    provider_id bigint NOT NULL,
    problem_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: provider_ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.provider_ratings (
    id bigint NOT NULL,
    provider_id bigint NOT NULL,
    user_id bigint NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT provider_ratings_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


--
-- Name: provider_ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.provider_ratings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: provider_ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.provider_ratings_id_seq OWNED BY public.provider_ratings.id;


--
-- Name: providers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.providers (
    id bigint NOT NULL,
    user_id bigint,
    name character varying(255) NOT NULL,
    url character varying(500),
    website_url character varying(500),
    description text,
    geo_id bigint,
    lat numeric(10,7),
    lng numeric(10,7),
    rating numeric(3,2) DEFAULT 0.0,
    status character varying(20) DEFAULT 'active'::character varying,
    is_applicable boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT providers_rating_check CHECK (((rating >= 0.0) AND (rating <= 5.0)))
);


--
-- Name: providers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.providers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: providers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.providers_id_seq OWNED BY public.providers.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id bigint NOT NULL,
    user_id bigint,
    token character varying(128),
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sessions (
    id bigint NOT NULL,
    session_token character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    expires timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: simulation_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.simulation_settings (
    id bigint NOT NULL,
    owner_id bigint,
    key character varying(80),
    value character varying(200)
);


--
-- Name: simulation_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.simulation_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: simulation_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.simulation_settings_id_seq OWNED BY public.simulation_settings.id;


--
-- Name: user_locations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_locations (
    id bigint NOT NULL,
    user_id bigint,
    lat numeric(10,7),
    lng numeric(10,7),
    captured_at timestamp without time zone,
    is_live boolean DEFAULT false
);


--
-- Name: user_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_locations_id_seq OWNED BY public.user_locations.id;


--
-- Name: user_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_tokens (
    token character varying(64) NOT NULL,
    user_id bigint,
    token_type character varying(20),
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    role character varying(20) DEFAULT 'user'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_tokens (
    identifier character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    expires timestamp without time zone NOT NULL
);


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: cities_metadata id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cities_metadata ALTER COLUMN id SET DEFAULT nextval('public.cities_metadata_id_seq'::regclass);


--
-- Name: countries_metadata id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_metadata ALTER COLUMN id SET DEFAULT nextval('public.countries_metadata_id_seq'::regclass);


--
-- Name: file_assets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.file_assets ALTER COLUMN id SET DEFAULT nextval('public.file_assets_id_seq'::regclass);


--
-- Name: functions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.functions ALTER COLUMN id SET DEFAULT nextval('public.functions_id_seq'::regclass);


--
-- Name: geopoints id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.geopoints ALTER COLUMN id SET DEFAULT nextval('public.geopoints_id_seq'::regclass);


--
-- Name: live_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.live_sessions ALTER COLUMN id SET DEFAULT nextval('public.live_sessions_id_seq'::regclass);


--
-- Name: problems id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.problems ALTER COLUMN id SET DEFAULT nextval('public.problems_id_seq'::regclass);


--
-- Name: provider_ratings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_ratings ALTER COLUMN id SET DEFAULT nextval('public.provider_ratings_id_seq'::regclass);


--
-- Name: providers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers ALTER COLUMN id SET DEFAULT nextval('public.providers_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: simulation_settings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation_settings ALTER COLUMN id SET DEFAULT nextval('public.simulation_settings_id_seq'::regclass);


--
-- Name: user_locations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_locations ALTER COLUMN id SET DEFAULT nextval('public.user_locations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accounts (id, user_id, type, provider, provider_account_id, refresh_token, access_token, expires_at, token_type, scope, id_token, session_state, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cities_metadata; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: countries_metadata; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: file_assets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.file_assets (id, url, mime_type, size_bytes, uploader_id, created_at) FROM stdin;
\.


--
-- Data for Name: functions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: geopoints; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.geopoints (id, lat, lng, city, country) FROM stdin;
1	21.0285000	105.8542000	H├á Nß╗Öi	Vietnam
2	21.0245000	105.8412000	H├á Nß╗Öi	Vietnam
3	10.7769000	106.7009000	Ho Chi Minh City	Vietnam
4	16.0544000	108.2022000	Da Nang	Vietnam
\.


--
-- Data for Name: live_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.live_sessions (id, user_id, stream_key, started_at, ended_at) FROM stdin;
\.


--
-- Data for Name: problems; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profiles (user_id, first_name, last_name, title, function, geo_id, avatar_id, pen_name) FROM stdin;
1	Admin	User	System Administrator	Admin	\N	\N	Admin
2	Test	User	Developer	Software Engineer	\N	\N	\N
3	Developer	Test	Frontend Developer	React Developer	\N	\N	\N
\.


--
-- Data for Name: provider_functions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.provider_functions (provider_id, function_id, created_at) FROM stdin;
1	1	2025-12-25 14:57:05.205438
1	2	2025-12-25 14:57:05.205438
1	7	2025-12-25 14:57:05.205438
2	3	2025-12-25 14:57:05.208302
2	7	2025-12-25 14:57:05.208302
3	5	2025-12-25 14:57:05.210206
3	6	2025-12-25 14:57:05.210206
4	2	2025-12-25 14:57:05.211818
4	9	2025-12-25 14:57:05.211818
5	4	2025-12-25 14:57:05.213819
5	7	2025-12-25 14:57:05.213819
6	6	2025-12-25 14:57:05.215983
6	8	2025-12-25 14:57:05.215983
\.


--
-- Data for Name: provider_problems; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.provider_problems (provider_id, problem_id, created_at) FROM stdin;
1	1	2025-12-25 14:57:05.217793
1	3	2025-12-25 14:57:05.217793
2	5	2025-12-25 14:57:05.219949
2	6	2025-12-25 14:57:05.219949
3	4	2025-12-25 14:57:05.221607
3	8	2025-12-25 14:57:05.221607
4	4	2025-12-25 14:57:05.223769
4	7	2025-12-25 14:57:05.223769
5	2	2025-12-25 14:57:05.226031
5	4	2025-12-25 14:57:05.226031
6	9	2025-12-25 14:57:05.228084
6	10	2025-12-25 14:57:05.228084
\.


--
-- Data for Name: provider_ratings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.provider_ratings (id, provider_id, user_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: providers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.refresh_tokens (id, user_id, token, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sessions (id, session_token, user_id, expires, created_at) FROM stdin;
\.


--
-- Data for Name: simulation_settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.simulation_settings (id, owner_id, key, value) FROM stdin;
1	1	map_default_zoom	3
2	1	map_default_center_lat	21.0285
3	1	map_default_center_lng	105.8542
4	1	enable_grid	true
5	1	enable_distance_measurement	true
6	2	map_default_zoom	4
7	2	preferred_view	map-world
\.


--
-- Data for Name: user_locations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_locations (id, user_id, lat, lng, captured_at, is_live) FROM stdin;
\.


--
-- Data for Name: user_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_tokens (token, user_id, token_type, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.accounts_id_seq', 1, false);


--
-- Name: cities_metadata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cities_metadata_id_seq', 8, true);


--
-- Name: countries_metadata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.countries_metadata_id_seq', 15, true);


--
-- Name: file_assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.file_assets_id_seq', 1, false);


--
-- Name: functions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.functions_id_seq', 10, true);


--
-- Name: geopoints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.geopoints_id_seq', 4, true);


--
-- Name: live_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.live_sessions_id_seq', 1, false);


--
-- Name: problems_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.problems_id_seq', 10, true);


--
-- Name: provider_ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.provider_ratings_id_seq', 1, false);


--
-- Name: providers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.providers_id_seq', 6, true);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 1, false);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: simulation_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.simulation_settings_id_seq', 7, true);


--
-- Name: user_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_locations_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_provider_provider_account_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_provider_provider_account_id_key UNIQUE (provider, provider_account_id);


--
-- Name: cities_metadata cities_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cities_metadata
    ADD CONSTRAINT cities_metadata_pkey PRIMARY KEY (id);


--
-- Name: countries_metadata countries_metadata_code_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_metadata
    ADD CONSTRAINT countries_metadata_code_name_key UNIQUE (code_name);


--
-- Name: countries_metadata countries_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_metadata
    ADD CONSTRAINT countries_metadata_pkey PRIMARY KEY (id);


--
-- Name: file_assets file_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.file_assets
    ADD CONSTRAINT file_assets_pkey PRIMARY KEY (id);


--
-- Name: functions functions_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.functions
    ADD CONSTRAINT functions_name_key UNIQUE (name);


--
-- Name: functions functions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.functions
    ADD CONSTRAINT functions_pkey PRIMARY KEY (id);


--
-- Name: geopoints geopoints_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.geopoints
    ADD CONSTRAINT geopoints_pkey PRIMARY KEY (id);


--
-- Name: live_sessions live_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.live_sessions
    ADD CONSTRAINT live_sessions_pkey PRIMARY KEY (id);


--
-- Name: problems problems_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT problems_name_key UNIQUE (name);


--
-- Name: problems problems_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT problems_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (user_id);


--
-- Name: provider_functions provider_functions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_functions
    ADD CONSTRAINT provider_functions_pkey PRIMARY KEY (provider_id, function_id);


--
-- Name: provider_problems provider_problems_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_problems
    ADD CONSTRAINT provider_problems_pkey PRIMARY KEY (provider_id, problem_id);


--
-- Name: provider_ratings provider_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_ratings
    ADD CONSTRAINT provider_ratings_pkey PRIMARY KEY (id);


--
-- Name: provider_ratings provider_ratings_provider_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_ratings
    ADD CONSTRAINT provider_ratings_provider_id_user_id_key UNIQUE (provider_id, user_id);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_session_token_key UNIQUE (session_token);


--
-- Name: simulation_settings simulation_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation_settings
    ADD CONSTRAINT simulation_settings_pkey PRIMARY KEY (id);


--
-- Name: user_locations user_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_locations
    ADD CONSTRAINT user_locations_pkey PRIMARY KEY (id);


--
-- Name: user_tokens user_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT user_tokens_pkey PRIMARY KEY (token);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: verification_tokens verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification_tokens
    ADD CONSTRAINT verification_tokens_pkey PRIMARY KEY (identifier, token);


--
-- Name: idx_accounts_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_accounts_provider ON public.accounts USING btree (provider, provider_account_id);


--
-- Name: idx_accounts_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_accounts_user_id ON public.accounts USING btree (user_id);


--
-- Name: idx_cities_metadata_country_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cities_metadata_country_code ON public.cities_metadata USING btree (country_code);


--
-- Name: idx_countries_metadata_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_countries_metadata_code ON public.countries_metadata USING btree (code_name);


--
-- Name: idx_functions_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_functions_category ON public.functions USING btree (category);


--
-- Name: idx_functions_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_functions_name ON public.functions USING btree (name);


--
-- Name: idx_functions_name_fts; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_functions_name_fts ON public.functions USING gin (to_tsvector('english'::regconfig, (COALESCE(name, ''::character varying))::text));


--
-- Name: idx_geopoints_city; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geopoints_city ON public.geopoints USING btree (city);


--
-- Name: idx_geopoints_country; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geopoints_country ON public.geopoints USING btree (country);


--
-- Name: idx_problems_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_problems_category ON public.problems USING btree (category);


--
-- Name: idx_problems_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_problems_name ON public.problems USING btree (name);


--
-- Name: idx_problems_name_fts; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_problems_name_fts ON public.problems USING gin (to_tsvector('english'::regconfig, (COALESCE(name, ''::character varying))::text));


--
-- Name: idx_profiles_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profiles_user_id ON public.profiles USING btree (user_id);


--
-- Name: idx_provider_functions_function_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_functions_function_id ON public.provider_functions USING btree (function_id);


--
-- Name: idx_provider_functions_provider_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_functions_provider_id ON public.provider_functions USING btree (provider_id);


--
-- Name: idx_provider_problems_problem_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_problems_problem_id ON public.provider_problems USING btree (problem_id);


--
-- Name: idx_provider_problems_provider_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_problems_provider_id ON public.provider_problems USING btree (provider_id);


--
-- Name: idx_provider_ratings_provider_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_ratings_provider_id ON public.provider_ratings USING btree (provider_id);


--
-- Name: idx_provider_ratings_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_provider_ratings_user_id ON public.provider_ratings USING btree (user_id);


--
-- Name: idx_providers_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_created_at ON public.providers USING btree (created_at);


--
-- Name: idx_providers_description_fts; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_description_fts ON public.providers USING gin (to_tsvector('english'::regconfig, COALESCE(description, ''::text)));


--
-- Name: idx_providers_geo_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_geo_id ON public.providers USING btree (geo_id);


--
-- Name: idx_providers_is_applicable; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_is_applicable ON public.providers USING btree (is_applicable);


--
-- Name: idx_providers_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_name ON public.providers USING btree (name);


--
-- Name: idx_providers_name_fts; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_name_fts ON public.providers USING gin (to_tsvector('english'::regconfig, (COALESCE(name, ''::character varying))::text));


--
-- Name: idx_providers_rating; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_rating ON public.providers USING btree (rating);


--
-- Name: idx_providers_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_status ON public.providers USING btree (status);


--
-- Name: idx_providers_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_providers_user_id ON public.providers USING btree (user_id);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_sessions_session_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sessions_session_token ON public.sessions USING btree (session_token);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sessions_user_id ON public.sessions USING btree (user_id);


--
-- Name: idx_user_locations_is_live; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_locations_is_live ON public.user_locations USING btree (is_live);


--
-- Name: idx_user_locations_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_locations_user_id ON public.user_locations USING btree (user_id);


--
-- Name: idx_user_tokens_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_tokens_token ON public.user_tokens USING btree (token);


--
-- Name: idx_user_tokens_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_tokens_user_id ON public.user_tokens USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: file_assets file_assets_uploader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.file_assets
    ADD CONSTRAINT file_assets_uploader_id_fkey FOREIGN KEY (uploader_id) REFERENCES public.users(id);


--
-- Name: live_sessions live_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.live_sessions
    ADD CONSTRAINT live_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: provider_functions provider_functions_function_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_functions
    ADD CONSTRAINT provider_functions_function_id_fkey FOREIGN KEY (function_id) REFERENCES public.functions(id) ON DELETE CASCADE;


--
-- Name: provider_functions provider_functions_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_functions
    ADD CONSTRAINT provider_functions_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id) ON DELETE CASCADE;


--
-- Name: provider_problems provider_problems_problem_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_problems
    ADD CONSTRAINT provider_problems_problem_id_fkey FOREIGN KEY (problem_id) REFERENCES public.problems(id) ON DELETE CASCADE;


--
-- Name: provider_problems provider_problems_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_problems
    ADD CONSTRAINT provider_problems_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id) ON DELETE CASCADE;


--
-- Name: provider_ratings provider_ratings_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_ratings
    ADD CONSTRAINT provider_ratings_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id) ON DELETE CASCADE;


--
-- Name: provider_ratings provider_ratings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provider_ratings
    ADD CONSTRAINT provider_ratings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: providers providers_geo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_geo_id_fkey FOREIGN KEY (geo_id) REFERENCES public.geopoints(id);


--
-- Name: providers providers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: simulation_settings simulation_settings_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.simulation_settings
    ADD CONSTRAINT simulation_settings_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_locations user_locations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_locations
    ADD CONSTRAINT user_locations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_tokens user_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT user_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 23a8rMtkaWZRmvjMFpSSpaPBSgUkDY96vZMjfogpJxTvlN3NI9wU2aoDO8Gjihx

